@model ContactWeb472.Models.Contact

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Contact</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.FriendlyName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FriendlyName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PhonePrimary)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PhonePrimary)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PhoneSecondary)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PhoneSecondary)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Birthday)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Birthday)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FriendlyAddress)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FriendlyAddress)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
